# Ignore egg files
*.egg
*.egg-info/

# Byte-compiled / optimized / DLL files
__pycache__/
*.py[cod]
*.pyo
*.pyd

# Distribution / packaging
*.egg-info/


# Python virtual environments
awesome-venv/
.venv/
venv/
ENV/
env.bak/
venv.bak/

# Jupyter Notebook checkpoints
.ipynb_checkpoints

# Pytest cache
.cache/
pytest_cache/

# Coverage reports
htmlcov/
.coverage
.coverage.*
*.cover

# mypy
.mypy_cache/
.dmypy.json
dmypy.json

# Pyre type checker
.pyre/

# Pylint
pylint-report.txt
pylint-output.txt

# IDEs and editors
.vscode/
.idea/
*.sublime-project
*.sublime-workspace

# Logs
*.log

# Environment variables
.env
.env.local
.env.*.local

# Other files
*.DS_Store
*.swp
*.swo
*.tmp
*.bak
*.orig


dist